<h1>Practice Question</h1>

 <p>
    Which of the following is the Single Responsibility Principle?
 </p>

 <p>
    <%= q %>
 </p>


 <ul>
   <% answers.each do |f| %>
     <li><%= f %></li>
   <% end %>
 </ul>


 <p><%= link_to "Profile Page", profile_path %></p>
