<h1>Practice Question</h1>

 <p>
    Which of the following is the Single Responsibility Principle?
 </p>

 <ul>
   <li>a) A class should have only one reason to change.</li>
   <li>b) Each developer on a team should have one main responsibility.</li>
   <li>c) Every app will have one responsibility that is most important to users.</li>
 </ul>

 <p><%= link_to "Profile Page", profile_path %></p>
